@page "{flowerId:int}"
@model PlantLovers.Pages.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>


<img src="data:image;base64,@System.Convert.ToBase64String(Model.Flower.PictureBinary)" class="img-thumbnail" style="width: 400px;height:400px" />
<div>
    PlantName: @Model.Flower.PlantName
</div>

<div>
    Id: @Model.Flower.ID
</div>

<div>
    PlantPrice: @Model.Flower.PlantPrice
</div>
<div>
    PlantDescription: @Model.Flower.PlantDescription
</div>

<a asp-page="./Index" class="btn btn-default">All Flowers</a>
<a asp-page="./Order" asp-route-floerId="@Model.Flower.ID" class="btn btn-default">Order</a>
