@page 
@model IndexModel


@{
    ViewData["Title"] = "Home page";
}

<h1>Flowers</h1>

<table class="table">
    @foreach (var Flower in Model.FlowersList)
    {
    <tr>
        <td>
            <img src="data:image;base64,@System.Convert.ToBase64String(Flower.PictureBinary)" class="img-thumbnail" style="width: 100px;height:100px" />
        </td>
        <!--<td>@Flower.ID</td>-->
        <td>
            <a asp-page="./Detail" asp-route-flowerId="@Flower.ID">@Flower.PlantName</a>

        </td>
        <td>@Flower.PlantPrice</td>
        <td>@Flower.PlantDescription</td>

        <td>
            <a asp-page="./Edit" asp-route-flowerId="@Flower.ID" class="btn btn-default">Edit</a>
        </td>
        <td>
            <a asp-page="./Delete" asp-route-flowerId="@Flower.ID" class="btn btn-default">Delete</a>
        </td>

    </tr>
    }

    </table>

   


