@page

@model PlantLovers.Pages.OrderListModel
@{
    ViewData["Title"] = "OrderList";
}

<h2>OrderList</h2>

<table class="table">
    <tr>
        <td>
            <header>
                <p>Flower Name</p>
            </header>
        </td>
        <td>
            <header>
                <p>Amount</p>
            </header>
        </td>
        <td>
            <header>
                <p>Buyer</p>
            </header>
        </td>
        <td>
            <header>
                <p>Telefon</p>
            </header>
        </td>
        <td>
            <header>
                <p>Email</p>
            </header>
        </td>
    </tr>
    @foreach (var OrderWithFlower in Model.OrderListWithFlowerDetails)
    {

        <tr>
            <td> @OrderWithFlower.Flower.PlantName</td>
            <td>@OrderWithFlower.Order.Amount</td>
            <td>@OrderWithFlower.Order.Name</td>
            <td>@OrderWithFlower.Order.Telefon</td>
            <td>@OrderWithFlower.Order.Email</td>

        </tr>
    }

</table>

